<% content_for :content do %>
    <div class="container">
      <% @grouped_articles.each do |article_group| %>
          <div class="box">
            <div class="row" style="align-content: center">

              <% article_group.articles.each do |news_article_hash| %>
                  <%
                    news_article = Newsarticle.new news_article_hash
                    case news_article.predictedSentiment
                      when 'positive'
                        color = '#00FF00'
                      when 'negative'
                        color = '#FF0000'
                      else
                        color = '#303030'
                    end
                  %>
                  <div class="col-lg-3 col-md-5 col-xs-12" style="align-content: center;">
                    <div class="card" style="height: 600px; align-content: center; border-style: solid; border-width: 3px; border-color:<%= color %>; margin-bottom: 10px">
                      <img style="width: 250px; max-height: 160px; align-content: center" src="<%= news_article.urlToImage %>" alt="<%= news_article.portal %>">
                      <div class="card-block" style="padding: 5px 5px 5px 5px;">
                        <p class="card-text"><%= news_article.portal %></p>
                        <h4 class="card-title"><%= news_article.title %></h4>
                        <p class="card-text"><%= news_article.body.split(/\s+/, 10+1)[0...10].join(' ') + '...' %></p>
                        <p class="card-text"><%= news_article.date %></p>
                        <a href="<%= news_article.url %>" class="btn btn-primary">Link</a>
                      </div>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
      <% end %>

    </div>
<% end %>
<%= render template: 'layouts/welcome' %>